.btn {
    cursor: pointer;
    border: none;
    border-radius: 15px 0 15px 15px;
    font-weight: 700;
    box-shadow: 5px 6px 14px rgba(0,0,0,0.2);
    padding: .8rem 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    &.btn-primary {
        background: $colorWhite;
        color: $colorBlack2;
        outline: none;
        &:hover,
        &:active,
        &:focus {
            background: $colorPrimary;
            color: $colorWhite;
        }
    }
   img {
       width: 25px;
       margin-left: .5rem;
   }
}