$colorBlack: #000000;
$colorBlack2: #433e3e;
$colorWhite: #ffffff;
$colorPrimary: #4893e9;
$colorSecondary: #efefef;
$colorRopa: #f5a142;
$colorTecnologia: #f7a027;
$colorHogar: #ea0909;
$colorLibros: #6861f7;