@import 'colors';

html {
    scroll-behavior: smooth;
}
/* Section Header */
.header {
    z-index: 90;
    background-color: transparent;
    padding: 1.6rem 1rem;
    transition: all .5s ease;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    &.header-scroll {
        background-color: $colorPrimary;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .container-btn {
            cursor: pointer;
            width: auto;
            margin-left: auto;
            z-index: 1;
            transition: .5s all ease-out;
            .line {
                position: relative;
                left: 0;
                right: 0;
                width: 35px;
                height: 2px;
                background-color: $colorPrimary;
                transition: all .25s ease-out;
                ::after,
                ::before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 35px;
                    height: 2px;
                    background-color: $colorPrimary;
                    transition: all .25s ease-out;
                }
            }
        }

        /* Menu */
        .menu-principal {
            width: 100%;
            transition: all .5s ease-in-out;
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 0;
                background: $colorWhite;
                li {
                    padding: .5rem 0;
                    font-size: 1.4rem;
                    font-weight: 300;
                    transition: all 0.5s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    a {
                        position: relative;
                        z-index: 1;
                        display: block;
                        text-align: left;
                        text-decoration: none;
                        font-variant: small-caps;
                        color: $colorPrimary;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }    
}

/* Fin Section Header */

/* Welcome Principal */
.welcome-principal {
    background-color: $colorWhite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url('/images/hero_background.png') center top/cover no-repeat;
    .container-text {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .text-principal {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            padding: 1rem;
            .container {
                padding: 1rem 0;
            }
            .article-text {
                margin-top: 4rem;
                .section-title {
                    text-align: center;
                    font-size: 2.4rem;
                    font-weight: 700;
                }
                .section-subtitle {
                    text-align: center;
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin-top: 3rem;
                }
            }
        }
        .section-more {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
            z-index: 1;
            a {
                margin: auto;
            }
        }
    }
    .img-principal {
        display: none;
    }
}
/* Fin Welcome Principal */

/* Categories */
.section-categories {
    background-color: $colorWhite;
    margin-top: 2rem;
    .section-title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .section-subtitle {
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
    }
    .container-categories {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        .category {
            max-width: 260px;
            margin: auto;
            box-shadow: 6px 1px 14px rgba(0, 0, 0, 0.1);
            border-radius: 15px 0 15px 15px;
            margin-bottom: 2rem;
            overflow: hidden;
            height: 217px;
            display: flex;
            flex-direction: column;
            transform: translateY(0);
            transition: all .5s ease;
            .category-img {
                height: 170px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .category-title {
                padding: .5rem 1.5rem .7rem 1.5rem;
                font-size: .9rem;
                font-weight: 700;
                margin-top: auto;
            }
            &:hover {
                transform: translateY(-3px);
            }
        }
    }
}

/* Fin Categories */

/* Products */
.container-products {
    background-color: $colorSecondary;
    margin-top: 2rem;
    padding-top: 2rem;
    .section-title {
        text-align: center;
        font-weight: 600;
    }
    .section-subtitle {
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
    }
    .container-products {
        .product {
            max-width: 260px;
            margin: auto;
            background-color: $colorWhite;
            box-shadow: 6px 1px 14px rgba(0, 0, 0, 0.1);
            border-radius: 10px 0 10px 10px;
            margin-bottom: 2rem;
            overflow: hidden;
            height: 335px;
            display: flex;
            flex-direction: column;
            position: relative;
            transition: all .5s ease;
            transform: translateY(0);
            &:hover {
                transform: translateY(-3px);
            }
            .product-category {
                position: absolute;
                top: 15px;
                left: 8px;
                background-color: red;
                border-radius: 3px;
                padding: 0 .7rem;
                font-weight: 600;
                font-size: .9rem;
                color: $colorWhite;
            }
            .product-img {
                width: 100%;
                height: 100%;
                border-radius: 0 0 10px 10px;
                background-size: cover;
                background-position: center;
            }
            .product-info {
                margin-top: auto;
                padding: 1rem;
                .product-name {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 700;
                }
                .product-price {
                    margin: 0;
                    font-size: .7rem;
                    font-weight: 700;
                    color: $colorPrimary;
                }
            }
            &.Ropa{
                .product-category {
                    background-color: $colorPrimary;
                }
            }
            &.Tecnología {
                .product-category {
                    background-color: $colorTecnologia;
                }
            }
            &.Hogar {
                .product-category {
                    background-color: $colorHogar;
                }
            }
            &.Libros {
                .product-category {
                    background-color: $colorLibros;
                }
            }
        }
    }
}
/* Fin Products */

/* Footer */
.footer {
    background-color: $colorPrimary;
    padding: 1rem;
    color: $colorWhite;
    font-weight: 700;
    p {
        &:last-child {
            margin: 0;
        }
    }
    .footer-social {
        margin-top: 1rem;
        i {
            color: $colorPrimary;
            background-color: $colorWhite;
            margin-right: 1rem;
            border-radius: 25px;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 2.2;
            border: 1px solid transparent;
            transition: all .5s ease;
        }
        a:hover {
            i {
                color: $colorWhite;
                background-color: transparent;
                border-color: $colorWhite;
            }
        }
    }
}
/* Fin Footer */

@media (min-width: 768px) {

    /* Header */
    .header {
        padding: 0;
        .container {
            .container-btn {
                display: none;
            }
            .menu-principal {
                display: block;
                .ul-menu {
                    display: flex;
                    align-items: center;
                    background: transparent;
                    li {
                        &:first-child {
                            margin-left: auto;
                        }
                        margin-right: 2rem;
                        a {
                            color: $colorWhite;
                            font-weight: 400;
                            border-bottom: 1px solid transparent;
                            transition: all .5s ease;
                        }
                        &:hover {
                            a {
                                border-bottom-color: $colorWhite;
                            }
                        }
                    }
                }
            }
        }
    }

    /* Welcome Principal */
    .welcome-principal {
        display: flex;
        flex-direction: row;
        .container-text {
            width: 50%;
            .text-principal {
                color: $colorWhite;
                .article-text {
                    .section-title,
                    .section-subtitle {
                        text-align: left;
                    }
                    .section-title {
                        font-size: 2.8rem;
                    }
                }
            }
            .section-more {
                a {
                    margin-left: 2rem;
                }
            }
        }
        .img-principal {
            display: block;
            width: 50%;
            background-image: url('/images/mi-venta-de-garage.png');
            background-size: cover;
            background-position: top left;
            background-repeat: no-repeat;
        }
    }
    /* Fin Welcome Principal */

    .section-categories {
        .container-categories {
            display: flex;
            flex-wrap: wrap;
        }
        .section-title {
            margin-bottom: 4rem;
        }
    }
    
    .container-products {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        .container-products {
            .product {
                min-width: 260px;
                margin-bottom: 2rem;
            }
        }
    }

    .footer {
        .footer-social {
            display: flex;
            margin-left: auto;
            a {
                &:first-child {
                    margin-left: auto;
                }
            }
        }
    }

}

@media (min-width: 1200px) {

    .welcome-principal {
        .container-text {
            width: 40%;
        }
        .img-principal {
            width: 60%;
        }
    }

    .section-categories {
        margin-top: 5rem;
    }

}